.extension-list
  %table
    %thead
      %tr
        %td
          Name
        %td
          Description
        %td
          Tags
        %td
          Author
        %td
          Stars
    %tbody
      - @extensions.each do  |e|
        %tr
          %td
            %a{:class => "title-link"}
              = e.name
          %td{:class => "card-description"}
            = e.description
          %td
            - e.tags.each do |tag|
              %a{:href => "tags/#{tag}", :class => "tag"}
                = tag
          %td{:class => "author"}
            %a{:href => "/user/#{e.author}", :class => "author-filter"}
              = e.author
          %td{:class => "ghub-stars"}
            = e.watchers