#main
  .extension-list
    %h3 All Extensions
    %table
      %thead
        %tr
          %td{:width => "250"}
            Name
          %td{:width => "300"}
            Description
          %td{:width => "250"}
            Tags
          %td{:width => "100"}
            Author
          %td{:width => "100"}
            Stars
      %tbody
        - @extensions.each do  |e|
          %tr
            %td{:class => "card-title"}
              %a{:href => "https://www.github.com/#{e.author}/#{e.name}", :class => "title-link"}
                = e.name
            %td{:class => "card-description"}
              = e.description
            %td.tag-list
              - e.tags.each do |tag|

                %a{:href => "/tag/#{tag}", :class => "tag", :data => {:pjax => 'true'}}
                  = tag

            %td{:class => "author"}
              %a{:href => "/user/#{e.author}", :class => "author-filter"}
                = e.author
            %td{:class => "ghub-stars"}
              = e.watchers
  = will_paginate @extensions
