

#featured
  / %h3 Featured Extensions
  %ul{:class => "featured-cards"}
    -if @featured
      - @featured.each do |e|
        %li{:class => "feature-card"}
          %span
            %h1{:class => "card-title"}
              %a{:href => "https://www.github.com/#{e.author}/#{e.project_name}", :class => "title-link"}
                =e.name
            .card-description-wrapper
              %p{:class => "card-description", :title => e.description}
                = truncate(e.description)
              %p{:class => "tags"}
                - e.tags.first(7).each do |tag|
                  %a{:href => "/tag/#{tag}", :class => "tag"}
                    = tag


            %ul{:class => "ghub-info"}
              %li{:class => "author"}
                %a{:href => "/user/#{e.author}", :class => "author-filter"}
                  = e.author
              %li{:class => "ghub-stars"}
                = e.stars
