!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Sache: Find Sass and Compass Extensions for your next project
    %meta{content: "Find Sass and Compass Extensions for your next project", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{:rel => "icon", :type => "image/x-icon", :href => "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlUlEQVQ4T2M8FtzznwENiNppwUVeH7qGLg3mW64pBtOM6AaQohnDAFI1Hw/pRbiAHM1wF5CrGWzA7Ynb4IFIKMBAGkDORgZwA8jRDHcBuZqxRiPMebB4xuZsmBpQ2GGkA+REQkgzVhcQazPMFSguIFUzKOzgBpCjGe4FcjWDDfgPBDD/oCcS5NCGsdGjHG4AOZpBhgIA+uR/eG/y0GQAAAAASUVORK5CYII="}/
    = haml :_head
  %body
    /[if lt IE 7]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    / Add your site or application content here

    - if flash[:notice]
      %p{class: "alert alert-success"}
        = flash[:notice]

    - if flash[:error]
      %p{class: "alert alert-error"}
        = flash[:error]


    .container
      .main-content
        = haml :_sache_bar
        %header
          .title-cta
            %h2{:class => "page-title"} Discover Sass &amp; Compass Extensions
            %p{:class => "page-description"}
              Find the perfect tool for your next
              %a{:href => "http://www.sass-lang.com"} Sass
              or
              %a{:href => "http://www.compass-style.org"} Compass
              project.

        #featured
          %h3 Featured Extensions
          %ul{:class => "featured-cards"}
            %li{:class => "feature-card"}
              %span
                %h1{:class => "card-title"}
                  %a{:href => "#", :class => "title-link"} Tool Title
                .card-description-wrapper
                  %p{:class => "card-description"} 
                    = truncate("Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui.")
                  %p{:class => "tags"}
                    %a{:href => "#", :class => "tag"} Animation,
                    %a{:href => "#", :class => "tag"} Plugin,
                    %a{:href => "#", :class => "tag"} Mixin
                %ul{:class => "ghub-info"}
                  %li{:class => "author"}
                    %a{:href => "#", :class => "author-filter"} @hatefulcrawdad
                  %li{:class => "ghub-stars"} 9,999
            %li{:class => "feature-card"}
              %span
                %h1{:class => "card-title"}
                  %a{:href => "#", :class => "title-link"} Tool Titlelongtitle Yeah Title Yeah Babyoooo
                .card-description-wrapper
                  %p{:class => "card-description"} Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui.
                  %p{:class => "tags"}
                    %a{:href => "#", :class => "tag"} Animation,
                    %a{:href => "#", :class => "tag"} Plugin,
                    %a{:href => "#", :class => "tag"} Mixin
                %ul{:class => "ghub-info"}
                  %li{:class => "author"}
                    %a{:href => "#", :class => "author-filter"} @hatefulcrawdad
                  %li{:class => "ghub-stars"} 9,999
            %li{:class => "feature-card"}
              %span
                %h1{:class => "card-title"}
                  %a{:href => "#", :class => "title-link"} Tool Title
                .card-description-wrapper
                  %p{:class => "card-description"} Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui.
                  %p{:class => "tags"}
                    %a{:href => "#", :class => "tag"} Animation,
                    %a{:href => "#", :class => "tag"} Plugin,
                    %a{:href => "#", :class => "tag"} Mixin
                %ul{:class => "ghub-info"}
                  %li{:class => "author"}
                    %a{:href => "#", :class => "author-filter"} @hatefulcrawdad
                  %li{:class => "ghub-stars"} 9,999

        = haml :_extension

        = will_paginate @extensions

    = haml :_footer

    = haml :_modal

    = haml :_bottom_assets
