!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Sache: Find Sass and Compass Extensions for your next project
    %meta{content: "Find Sass and Compass Extensions for your next project", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory
    %link{href: "css/normalize.css", rel: "stylesheet"}/
    %link{href: "css/main.css", rel: "stylesheet"}/
    %script{src: "js/vendor/modernizr-2.6.2.min.js"}
  %body
    /[if lt IE 7]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    / Add your site or application content here

    - if flash[:notice]
      %p{class: "alert alert-success"}
        = flash[:notice]

    - if flash[:error]
      %p{class: "alert alert-error"}
        = flash[:error]

    %section{:class => "sache-bar"}
      %h1{:class => "logo"} Sache
      %ul{:class => "sache-bar-actions"}
        %li{:class => "sache-search"}
          %a{:href => "#", :data => {:search_reveal => ""}} Search
          %input{:type => "search", :placeholder => "Find extensions", :data => {:search_box => ""}}
        %li{:class => "sache-add-extension"}
          %a{:href => "#", :data => {:add_project => ""}} Add Extension

    .container
      %header
        .title-cta
          %h2{:class => "page-title"} Discover Sass &amp; Compass Extensions
          %p{:class => "page-description"}
            Find the perfect tool for your next project
            %a{:href => "http://www.sass-lang.com"} Sass
            or
            %a{:href => "http://www.compass-style.org"} Compass
            project.

      #featured
        %h3 Featured Extensions
        %ul
          %li{:class => "feature-card"}
            %span
              %h1{:class => "card-title"}
                %a{:href => "#", :class => "title-link"} Tool Title
              .card-description-wrapper
                %p{:class => "card-description"} Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui.
                %p{:class => "tags"}
                  %a{:href => "#", :class => "tag"} Animation,
                  %a{:href => "#", :class => "tag"} Plugin,
                  %a{:href => "#", :class => "tag"} Mixin
              %ul{:class => "ghub-info"}
                %li{:class => "author"}
                  %a{:href => "#", :class => "author-filter"} @hatefulcrawdad
                %li{:class => "ghub-stars"} 9,999

      .extension-list
        %table
          %thead
            %tr
              %td
                Name
              %td
                Description
              %td
                Tags
              %td
                Author
              %td
                Stars
          %tbody
            - @extensions.each do  |e|
              %tr
                %td
                  = e.name
                %td
                  = e.description
                %td
                  - e.tags.each do |tag|
                    %a{:href => "tags/#{tag}"}
                      = tag
                %td
                  = e.author
                %td
                  = e.watchers

      %footer
        %h1{:class => "footer-title"} Sache
        %p{:class => "authors"}
          Made by
          %a{:href => "https://github.com/hatefulcrawdad"} Chris Michel
          and
          %a{:href => "https://github.com/jhardy"} Jared Hardy
          for the love of the amazing Sass Community.

    .modal-tarp
      .add-project
        %h4{:class => "add-project-title"} Adding a Project
        %ol{:class => "instruction-list"}
          %li
            %p
              Add
              %code sassmanifest.json
              to your public repo and include the required info:
              %pre
                %code
                  :preserve
                    {
                      "name": "project-name",
                      "description": "Description of project",
                      "version": "x.y.z",
                      "tags": ["ui", "buttons", "etc"]
                    }
          %li
            %p Enter your project SSH clone URL:
            %form{:action =>"/extensions", :method => "post", :role => "form", :id => 'submit-form'}
              .field
                %input{:class => "add-url", :id => "extension-url", :name => "project_url", :type => "text", :placeholder => "Github SSH URL"}
              .actions
                %button{:class => "button", :type => "submit"} Add

        %a{:class => "cancel-button", :title => "Cancel", :href => "#", :data => {:cancel_project => ""}} &times;


    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    %script{src: "js/plugins.js"}
    %script{src: "js/main.js"}
    != js :app
    / Google Analytics: change UA-XXXXX-X to be your site's ID.
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');